[data-slot="representative"] {
  display: flex;
  align-items: center;
  gap: 16px;
}

[data-slot="representative"] > p {
  font-weight: 600;
}

section + section {
  margin-top: 16px;
}

[data-slot="contact-information"] {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

[data-slot="contact-information"] > div {
  display: flex;
  align-items: center;
  gap: 12px;
}
