window.env = {
  OIDC_ISSUER: '$OIDC_ISSUER',
  OIDC_CLIENT_ID: '$OIDC_CLIENT_ID',
  OIDC_SCOPES: '$OIDC_SCOPES',
  SANITY_STUDIO_PROJECT_ID: '$SANITY_STUDIO_PROJECT_ID',
  SANITY_STUDIO_DATASET: '$SANITY_STUDIO_DATASET',
  SANITY_API_VERSION: '$SANITY_API_VERSION',
};
