[data-root] {
  height: max(var(--size, 40px), 40px);
  width: max(var(--size, 40px), 40px);
  overflow: hidden;
  user-select: none;
}

[data-root] > * {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

abbr {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

[data-shape="circle"] {
  border-radius: 9999px;
}

[data-shape="square"] {
  border-radius: 4px;
}
