abbr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background: #439ef8;
  color: white;
  font-size: 16px;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
}

abbr[title] {
  text-decoration: none;
}

abbr:hover {
  background: #007dd3;
}

img {
  height: 100%;
  width: 100%;
}
