[data-root] {
  display: flex;
  align-items: flex-start;
  height: fit-content;
  margin: 0 auto;
}

main {
  width: 800px;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: sticky;
  top: 0;
  width: 400px;
  margin-left: 20px;
}
