[data-root] {
  display: inline-flex;
  align-items: center;
  text-decoration: none !important;
  cursor: pointer;
  color: inherit;
}

[data-variant="underlined"] {
  margin-bottom: -2px;
  padding-bottom: 1px;
  border-bottom: 1px solid transparent;
}

[data-variant="underlined"]:hover {
  border-bottom-color: inherit !important;
}

[data-color="neutral"] {
  color: #2d3741 !important;
}

[data-color="blue"] {
  color: #439ef8 !important;
}

[data-color="red"] {
  color: #ff524f !important;
}

[data-color="yellow"] {
  color: #cd983a !important;
}

[data-color="green"] {
  color: #4fc970 !important;
}

[data-color="inherit"] {
  color: currentcolor !important;
}
